    
        <section class="hero">
            <h2><span class="green">La Tavola Italiana</span> <span class="white"> Where Italian </span><span
                    class="red">Recipes Come to Life</span> </h2>
            <a href="#" class="btn">Explore Recipes</a>
        </section>
        <section class="featured-recipes">
            
            <h2>Featured Recipes</h2>
            <div class="recipes">
                     {{#if recipes}}
                {{#each recipes}}
                <article class="recipe">
                    <img src="{{image}}"
                        alt="Spaghetti Carbonara">
                    <h3>{{title}}</h3>
                    <p>{{description}}</p>
                    <a href="/recipes/details/{{_id}}">Read More</a>
                </article>
                {{/each}}
                {{else}}
            </div>
                <p class="no-post">There are no recipes found yet!</p>
            </div>
            {{/if}}
        </section>
    